.app__work {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-top: 50px;
      .card {
        width: 300px;
        max-width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        padding: 10px;
        border-radius: 5px;
        .image {
          position: relative;
          overflow: hidden;
          max-height: 260px;
          border-radius: 5px;
          img {
            max-width: 100%;
          }
          .text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            display: none;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: var(--background-color);
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            h3 {
              margin-bottom: 8px;
            }
            .links {
              display: flex;
              margin-top: 10px;
              gap: 10px;
              a {
                color: #fff;
                width: 30px;
                height: 30px;
                background-color: rgba($color: #000000, $alpha: 0.9);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  width: 60%;
                  height: 60%;
                }
              }
            }
          }
        }
        &:hover {
          .text {
            display: flex;
          }
        }
      }
    }
  }
}
